
body {
            font-family: Arial, sans-serif;
            
            background-color:rgb(255, 255, 255);
            padding: 20px;
        }

 
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}  

#mainForm{

            background-color:rgb(235, 235, 235);
            padding: 20px;
}

.optionOne{
    font-weight: 600;
    color: black;
}

h2{
    color: red
}

#donorInfo,#additionalInfo,#honorInfo{
    width: 650px;
    margin: auto;
    padding: 20px 40px;
}



span{
    color: red;
}


#btns {
    display: flex;
    justify-content: center;
    gap: 10px; 
    margin-top: 20px;
}

.btn {
    text-align: center;
    padding: 10px 20px;
}